{% import 'BtnAdminBundle:Macros:link.html.twig' as lnk %}
{% extends 'BtnAdminBundle:Crud:index.html.twig' %}

{% block list_table_head_columns %}
    <th>E-mail</th>
{% endblock %}

{% block list_table_body_columns %}
    <td>{{ entity.email }}</td>
{% endblock %}

{% block list_buttons %}
    {{ parent() }}
    {{ lnk.primary('CSV', 'btn_newsletter_newslettercontrol_export') }}
{% endblock %}
